# Putting structure on your Big Data with SparkSql

In [ ]:
#Manipulating Dataframes with sparkSql schemas.
#using the spark DSL to bulid queries for structured data operations.

In [ ]:
#Manipulating data frames with sparkSql schemas.

In [16]:
raw_data= sc.textFile('kddcup.data.gz')

In [17]:
from pyspark.sql import Row,SQLContext
SQL_Context = SQLContext(sc)
csv = raw_data.map(lambda x:x.split(","))

In [19]:
rows = csv.map(lambda p:Row(duration=int(p[0]),protocol=p[1],service=p[2]))

In [20]:
df  = SQL_Context.createDataFrame(rows)
df.registerTempTable("rdd")

In [24]:
SQL_Context.sql("""SELECT duration FROM rdd WHERE protocol = 'tcp' AND duration > 2000""").show()

+--------+
|duration|
+--------+
|   10217|
|   11610|
|   13724|
|   10934|
|   12026|
|    5506|
|   12381|
|    9733|
|   17932|
|   40504|
|   11565|
|   12454|
|    9473|
|   12865|
|   11288|
|   10501|
|   14479|
|   10774|
|   10007|
|   12828|
+--------+
only showing top 20 rows

# Using The Spark DSL to build Queries for structured operations.

In [ ]:
#What is spark DSL?(domain specific Langauage)
# How do we build queries ?

In [25]:
df.select("duration").filter(df.duration > 2000).filter(df.protocol =="tcp").show()

+--------+
|duration|
+--------+
|   10217|
|   11610|
|   13724|
|   10934|
|   12026|
|    5506|
|   12381|
|    9733|
|   17932|
|   40504|
|   11565|
|   12454|
|    9473|
|   12865|
|   11288|
|   10501|
|   14479|
|   10774|
|   10007|
|   12828|
+--------+
only showing top 20 rows